/* CarBot

COLORS
black - #171427
blue - #1f263d
light blue - #06b0ff
yellow - #fff21f
white - #dcd8f1

Typography
font-family: 'Roboto', sans-serif;

*/

* { outline: none !important; }
html,body { height: 100%; margin: 0; padding: 0; }
body { background: #171427; color: #06b0ff; font-family: 'Roboto', sans-serif; }
header,footer { padding: 15px; }
h1,h2,h3 { margin: 0; }

#intro { position: absolute; left: 0; top: 0; width: 100%; height: 100%; margin: 0; padding: 20px; background: #171427; border: 4px solid #1f263d; z-index: 30; display: flex; justify-content: center; align-content: center; align-items: center; }
#intro h2 { margin-bottom: 20px; text-align: center; }
#intro #carbot-loading { display: block; }
#intro #carbot-connected { display: none; }

#finish { position: absolute; top: 10px; right: 10px; display: none; }

#status { position: absolute; top: 10px; left: 10px; display: none; list-style: none; margin: 0; padding: 0; z-index: 50; }
#status li { display: inline-block; width: 20px; height: 20px; display: flex; flex-wrap: wrap; justify-content: center; font-size: 8px; }
#status li .fa { font-size: 12px; }

#carbotInterface { display: none; flex-wrap: wrap; padding: 0; height: calc(100% - 130px); }
#carbotInterface #video { width: 100%; height: auto; padding-top: 56.25%; position: relative; }
#carbotInterface #video canvas { display: block; width: 100%; height: 100%; position: absolute; top: 0;  }
#carbotInterface #controls { width: 100%; height: auto; display: flex; flex-wrap: nowrap; justify-content: center; align-items: stretch; }
#carbotInterface #controls h2 { margin: 0 0; padding: 10px; background: #1f263d; font-weight: 700; font-size: 16px; text-align: center; text-transform: uppercase; }
#carbotInterface #controls .panel1 { width: 66%; }
#carbotInterface #controls .panel2 { width: 33%; }
#carbotInterface #controls .panel2 .controls-forward { height: 80%; }
#carbotInterface #controls .panel2 .controls-direction { height: 20%; text-align: center; }

/* the slider bar */
.slider-container { margin: 30px; }
.slider {
  position: relative;
  width: auto;
  height: 36px;
  margin: 0;
  background: #dcd8f1;
  box-sizing: border-box;
  -ms-touch-action: none;
      touch-action: none;
}

.slider .slider-handle {
  display: block;
  position: absolute;
  top: -7px;
  background: #fff21f;
  border: 2px solid #171427;
  border-radius: 10px;
  width: 40px;
  height: 50px;
  margin-left: -20px;
  box-sizing: border-box;
}

.slider.control-steering .slider-handle { left: 50%; }
.slider.control-servo .slider-handle { left: 50%; }
.slider.control-throttle { bottom: 0; }

.slider-container.slider-vertical { height: 100%; }
.controls-forward .slider-container.slider-vertical { height: calc(100% - 97px); }
.slider-vertical .slider { width: 36px; height: 100%; margin: 0 auto; }
.slider-vertical .slider .slider-handle { left: -7px; top: auto; bottom: 0%; width: 50px; height: 40px; margin: 0 0 -20px 0; }